@media (max-width: 1020px) {
    body {
        font-family: 'poppins', sans-serif;
        margin: 0;
    }
    header {
        height: 70px;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0;
    }
    main{
        padding-top: 70px;
    }
    .header-image-con {
        width: 13%;
    }

    nav {
        width: 100%;
        justify-content: center;
    }

    .nav-links {
        flex-direction: column;
        text-align: center;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .home {
        margin: 0;
        padding: 0;
        flex-direction: column;
        justify-content: space-between;
        height: 270px;
        display: flex;
        flex-direction: row;
    }
    .home-main{
        padding: 0;
    }
    .home-main h1 {
        font-size: 2.5em;
        margin-left: 20px;
    }
    .home-main p{
        font-size: 1em;
        margin-left: 20px;
    }

    .home-main h6 {
        font-size: 1.2em;
        margin-left: 20px;
    }

    .home-main a {
        padding: 10px 15px;
        font-size: 0.9em;
        margin-left: 20px;
    }

    .home-icon-con {
        flex-direction: column;
        gap: 3px;
    }
    .home-icon-con a{
        width: 30px;
        height: 30px;
    }

    .about {
        padding-top: 50px;
        height: auto;
        padding-left: 0;
        padding-right: 0;
        flex-direction: column;
    }

    .about-main {
        flex-direction: column;
    }

    .about-image-con,
    .about-text-con {
        width: 100%;
    }
    .about-image-con{
        align-items: center;
        justify-content: center;
    }
    .about-image-con img{
        width: 40%;
        height: auto;
    }
    .about-text-con p{
        font-size: .8em;
    }
    .experience{
        padding-top: 50px;
        height: auto;
    }
    .experience-main {
        flex-direction: column;
    }

    .experience-left,
    .experience-right {
        width: 100%;
    }
    .skills{
        padding-left: 0;
        padding-right: 0;
        padding-top: 50px;
        padding-bottom: 50px;
        height: auto;
    }
    .skills-main {
        flex-direction: column;
        height: auto;
        justify-content: center;
        align-items: center;
        padding: 0;
        gap: 10px;
    }

    .skills-left-con,
    .tools-right-con {
        width: 80%;
        height: 80%;
    }
    .skills-left-con img,
    .tools-right-con img{
        width: 80%;
        height: 80%;
    }
    .contact{
        height: auto;
        padding-left: 0;
        padding-right: 0;
    }
    .contact-main {
        flex-direction: row;
    }

    .phone-con,
    .email-con,
    .linkedin-con {
        flex-direction: row;
        margin: 10px;
    }
    .phone-img,.email-img,.linkedin-img{
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .phone-img img,.email-img img,.linkedin-img img{
        width: auto;
        height: 100%;
    }
    .phone-text,.email-text,.linkedin-text{
        font-size: .6em;
        color: #5E4665;
    }
    .certifications{
        padding-left: 0;
        padding-right: 0;
    }
    .slider-container {
        height: 70%;
    }
}
.burger-menu {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 50px;
    height: 30px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1001;
    margin-right: 15px;
}

.burger-menu span {
    display: block;
    width: 100%;
    height: 4px;
    background-color: #5E4665;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}
@media (max-width: 1200px) {
    nav {
        position: absolute;
        display: none;
        right: 0;
        top: 70px;
        height: 100vh;
        width: 35%;
        background-color: #ffffff;
    }

    .nav-links {
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 10px;
        margin-top: 100px;
        text-align: center;
        font-size: .8em;
    }

    .nav-links li a {
        margin-right: 50px;
    }

    .burger-menu {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 20px;
        width: 35px;
        cursor: pointer;
    }

    .burger-menu span {
        display: block;
        height: 4px;
        width: 100%;
        background-color: #5E4665; 
        transition: all 0.3s ease;
    }

    nav.active {
        display: flex;
    }

    .burger-menu.active span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .burger-menu.active span:nth-child(2) {
        opacity: 0; 
    }

    .burger-menu.active span:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
    }
}

